{% extends "admin.html" %}


{% block body %}
<div class="container pt-3 mt-2 accomodation-body">

    <div class="a-block text-center border">
        <h3>A-BLOCK</h3>
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col-2">
                <button class="btn  room-1 " id="A1">
                    <p>A1</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-1" id="A2">
                    <p>A2</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-1" id="A3">
                    <p>A3</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-1" id="A4">
                    <p>A4</p>
                </button>
            </div>
            <div class="col-2" >
                <button class="btn room-1" id="A5">
                    <p>A5</p>
                </button>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-2">
            <div class="col"></div>
            <div class="col-2">
                <button class="btn room-1" id="A6">
                    <p>A6</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-1" id="A7">
                    <p>A7</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-1" id="A8">
                    <p>A8</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-1" id="A9">
                    <p>A9</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-1" id="A10">
                    <p>A10</p>
                </button>
            </div>
            <div class="col"></div>
        </div>
        <br>
    </div>

    <div class="b-block text-center border">
        <h3>B-BLOCK</h3>
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col-2">
                <button class="btn room-2" id="B1">
                    <p>B1</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-2" id="B2" >
                    <p>B2</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-2" id="B3">
                    <p>B3</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-2" id="B4">
                    <p>B4</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-2" id="B5">
                    <p>B5</p>
                </button>
            </div>
            <div class="col"></div>
            <br>
        </div>

        <div class="row mt-2">
            <div class="col"></div>
            <div class="col-2">
                <button class="btn room-2" id="B6">
                    <p>B6</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-2" id="B7">
                    <p>B7</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-2" id="B8">
                    <p>B8</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-2" id="B9">
                    <p>B9</p>
                </button>
            </div>
            <div class="col-2">
                <btton class="btn room-2" id="B10">
                    <p>B10</p>
                </btton>
            </div>
            <div class="col"></div>
        </div>
        <br>
    </div>
    
    <div class="c-block text-center border mt-3">
        <h3>C-BLOCK</h3>
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col-2">
                <button class="btn room-3" id="C1">
                    <p>C1</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-3" id="C2">
                    <p>C2</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-3" id="C3">
                    <p>C3</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-3" id="C4">
                    <p>C4</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-3" id="C5">
                    <p>C5</p>
                </button>
            </div>
            <div class="col"></div>
            
        </div>
        
        <div class="row mt-2 mb-2">
            <div class="col"></div>
            <div class="col-2">
                <button class="btn room-3" id="C6">
                    <p>C6</p>
                </button>
            </div>

            <div class="col-2">
                <button class="btn room-3" id="C7">
                    <p>C7</p>
                </button>
            </div>

            <div class="col-2">
                <button class="btn room-3" id="C8">
                    <p>C8</p>
                </button>
            </div>

            <div class="col-2">
                <button class="btn room-3" id="C9">
                    <p>C9</p>
                </button>
            </div>
            <div class="col-2">
                <button class="btn room-3" id="C10">
                    <p>C10</p>
                </button>
            </div>
            <div class="col"></div>
            
        </div>
        <br>
    </div>
    <br>
</div>

{% endblock %} 

{% block script %}
<script>
    getRoomsDetails();
    $(document).ready(function () {
    var url = window.location;
    $('ul.nav a[href= "'+ url.pathname + '"]').addClass('active');
    $('ul.nav a').filter(function() {
         return this.href == url;
    }).parent().addClass('active');
});
</script>
{% endblock %} 