
<nav class="navbar ">
  <div class="container-fluid">
    <!--<a class="navbar-brand" href="#">Navbar Brand</a>-->
    
    <ul class="nav nav-pills" >
      <li class="nav-item ">
        <a class="nav-link " href="/admin/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/student_details/">Student Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/food/">Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/rooms/">Room</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/admission_details/">Admission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/grieveance/">Grieveance</a>
      </li>
    </ul>
    
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" id="logout">  Logout</a>
      </li>
    </ul>
  </div>
</nav>