* {
    box-sizing:border-box;
}

:root{
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
}

body{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    background: rgb(255, 255, 255);
    overflow: hidden;
}



/*==============================================================
                ADMISSSION FORM STYLESHEET
===============================================================*/

#AdmissionForm{
    height: 100vh;
    overflow: hidden;
}
input{
    border-radius: 1px;
    outline: none;
    border: 1px solid black;
}
.AdmissionForm > .row{
    margin: 5px 5px;    
}

.AdmissionForm .name,
.form-email,
.password,
.birth-date, 
.phone,
.department,
.id,
.address,
.parent-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1%;
}

.gender,
.food{
    margin-top: 1%;
}
.gender-type,
.food-type{
    display: inline;
    margin: 5px 5px;
}
.address-detail{
    display: flex;
    flex-direction: column;
}
.address input {
    background-color: var(--white);
    border: 1px solid var(--black);
    margin-top: 5px;
    margin-bottom: 5px;
    width:auto;
}

.address input:focus{
    border: 2px solid black;
}
.btn-food{
    background-image: linear-gradient(220deg, rgb(0, 124, 199), #4da8da) ;
    color:#FFFFFF;
    border-radius: 2px;
}
.btn-food:hover{
    transition-delay: 1s;
    transform: scale(1.11);
    background-image: linear-gradient(rgb(0, 124, 199), #4da8da) ;
    color:#FFFFFF;
}

