:root{
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --grey: rgb(190, 190, 190);
}


/*===================================================
                    Navigation
===================================================*/


nav{
    font-size: 16px;
    font-style: none;
    font-family: Tahoma;
    font-weight: 600;    
}

.nav-item{
    margin:auto 50px;
}

.nav-item a{
    color:var(--white);
}

.nav-item a:hover{
    color:var(--grey);
}

#logout{
    cursor: pointer;
}



.select-food .dropdown.bootstrap-select.show-tick {
    width:auto;
}